.whole{
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

a{
  color: Aquamarine;
  font-size: 16px;
}

h1{
  /*font-weight: normal;*/
  font-size: 50px;
  color: white;
}

h2{
    color: white;
    /*font-weight: 300;*/
    font-size: 42px;
}

#n{
  font-size: 21px;
  color: gray;
}

#footer p{
  text-align: right;
  color: gray;
  font-size: 21px;
}
